{% extends 'base.html' %}

{% block header %}
    <div>
        <a href="{{ url_for('auth.login') }}" class = "big-text">Login</a> 
        <a href="{{ url_for('auth.register') }}"" class = "big-text">Register</a>
    </div>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Log In">
  </form>
{% endblock %}